h1,
h2,
h3,
h4,
h5,
p,
span {
    color: #202020;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0.25em 0;
}

body {
    background-color: #f7f3f7;
}

/* main content wrapper */
.content-wrapper {
    padding: 1em;
    border: 2px solid #eceaea;
    border-radius: 16px;
    background: #fffeff;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.content-wrapper h1 {
    margin-top: 0;
}

.top-wrapper {
    display: flex;
    align-items: center;
}

.lang-btn {
    position: fixed;
    right: 1.5em;
    top: 16px;
    background-color: #fff;
    border: 2px solid #eceaea;
    border-radius: 12px;
    padding: 0.5em 1em;
    color: #202020;
    font-weight: 600;
}

.lang-btn:hover {
    filter: brightness(0.95);
}

.theme-btn {
    margin-top: 3em;
}

/* city input */
.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.input-wrapper h2 {
    margin: 0;
}

.input-wrapper input {
    border: 2px solid #eceaea;
    border-radius: 12px;
    height: 25px;
    padding: 0 15px;
}

.input-button-group {
    display: flex;
    gap: 10px;
}

.input-button-group button {
    border: 2px solid #eceaea;
    border-radius: 12px;
    padding: 0.5em 1em;
    color: #202020;
    font-weight: 600;
    width: 60px;
}

.input-button-group, .russian button {
    display: flex;
    justify-content: center;
    width: 100px;
}

.input-button-group button:hover {
    filter: brightness(0.95);
}

/* city inforamtion block */
.city-info-wrapper {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    align-items: center;
}

.city-info-wrapper pre {
    width: max-content;
}

.condition-wrapper {
    display: flex;
    align-items: center;
    height: 24px;
}

.hour-forecast-info {
    user-select: none;
    -webkit-user-drag: none;
    width: 550px;
}

.hour-forecast-card {
    border-radius: 16px;
    width: 75px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    background-color: #c9e9f6;
}

.hour-forecast-card-temp {
    user-select: none;
}

.hour-forecast-card-icon {
    width: 45px;
    padding: 5px 0;
    user-select: none;
    -webkit-user-drag: none;
}

.hour-forecast-card-hour {
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    background-color: #b3e0f2;
    user-select: none;
}

.hour-forecast-info span[type="prev"] {
    margin-left: -32px;
    box-shadow: none;
    background-color: transparent;
}

.hour-forecast-info span[type="next"] {
    margin-right: -25px;
    box-shadow: none;
    background-color: transparent;
}